<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>API Deezer</title>
		<style>
			#main {
				font-family: "Helvetica", Arial, sans-serif;
			}
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="main" v-cloak>
			<h2><u>Choississez un numéro entre 1 et 100 ou aléatoirement</u></h2>
			<input type="number" name="number_name" id="number_id" min="1" max="100" size="4" v-model="id">
			<br><br>
			<div class="search">
				<input type="search" v-model="searchString" @change="searchArtist()" placeholder="Entrez un nom d'artiste"/>
				<button @click="searchArtist()">Rechercher</button>
			</div>
			<div v-if="artistData">
				<h3>{{artistData.name}}</h3>
				<p>Nombre d'albums : {{artistData.nb_album}}</p>
				<p>Nombre de fans : {{artistData.nb_fan}}</p>
				<img v-bind:src="artistData.picture_medium" alt="artist_picture"/>
			</div>
			<br><br>
			<button @click="toggleBooleanAlbum()">Voir les 25 premiers albums (maximum)</button>
			<ul v-if="albumNamesBool">
				<li v-for="ad in albumData.data">
					<p>{{ad.title}}</p>
				</li>
			</ul>
			<br><br>
			<button @click="randomId()">Artiste aléatoire</button>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			let apiUrl =
				"https://api.deezer.com/artist/";
			let searchUrl =
				"https://api.deezer.com/search/artist?q=";
			const config = {
			};

			Vue.createApp({
				data() {
					return {
						id: 1,
						artistData: null,
						name: "",
						pictureMedium: "unknown_artist.jpg",
						nbAlbum: null,
						nbFan: null,
						albumNamesBool: false,
						albumData: null,
						searchString: "",
					};
				},

				created: function () {
					this.fetchDataAsync()
				},

				watch: {
					id: "fetchDataAsync",
				},
				methods: {
					fetchDataAsync: async function () {
						try {
							let response = await axios.get(apiUrl + this.id, config)
							this.artistData = response.data
							let responseAlbums = await axios.get(apiUrl + this.id + "/albums", config)
							this.albumData = responseAlbums.data
						} catch(error) {
							console.log(error);
						}
					},
					searchArtist: async function () {
						try {
							let searchStringTrimmed = this.searchString.trim().toLowerCase()
							let responseSearch = await axios.get(searchUrl + searchStringTrimmed, config)
							this.artistData = responseSearch.data.data[0]
						} catch(error) {
							console.log(error);
						}
					},
					randomId: function () {
						this.id = Math.floor(Math.random() * 100)
						return this.id;
					},
					toggleBooleanAlbum: function () {
                        this.albumNamesBool = !this.albumNamesBool;
                    },
				},
			}).mount("#main");
		</script>
	</body>
</html>
